/* primeiras propriedades: */
* {
    /* define a área de margem nos quatro lados do elemento */
    margin: 0; 
    /* distância entre o conteúdo de um elemento e suas bordas */
    padding: 0;
    /* para configurar uma ou mais das propriedades de contorno */
    outline: 0;
}

body { /* Definindo a fonte de todo nosso body */
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

li { /* retirando as bolinhas das nossas listas */
    list-style: none;
}

.header-menu {
    /* // Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens. */
    display: flex;
    position: fixed; /*Deixa o nosso header fixo*/
    width: 100%; /*Largura*/
    padding: 10px; /*Espaçamento dos 4 lados*/
    padding-bottom: 12px; /*Espaçamento inferior*/
    padding-top: 12px;/*Espaçamento superior*/
    height: 20px;
    background-color: #724796;
}

.header-menu nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.lista-menu {
    display: flex;
    justify-content: space-evenly; /*Espaçamento entre eles seja igual*/
    width: 50%;
    align-items: center;
}

/*Pegando os itens com tag a de dentro da nossa lista*/
.lista-menu li>a {
    color: #FFF;
    font-size: 18px;
    text-decoration: inherit;
}

.principal {
    height: 100vh;
    display: flex;
    background-color: #EAEAEA;
}

.container {
    margin-right: auto; /*uma margem automática para todos os lados*/
    margin-left: auto; /**/
    max-width: 960px; /*largura maxima*/
    padding-right: 10px; /* Espaçamento direito*/
    padding-left: 10px; /*Espaçamento esquerdo*/
    width: 100%; /*largura*/
}

.subcontainer-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nome-completo {
    font-size: 48px;
    color: rgb(118, 48, 110);
    font-weight: 800;
    height: 50px;
}

.profissao {
    font-size: 20px;
    line-height: 32px;
    color: rgb(173, 98, 238);
}

.article-lista {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.topico-principal {
    font-size: 36px;
    color: rgb(89, 41, 2);
}

.lista-item { 
    padding: 32px;
}

.lista-item ul li {
    margin-bottom: 32px;
}

.lista-titulo {
    margin-bottom: 5px;
    font-size: 22px;
    color: rgb(197, 93, 157);
    font-weight: 700;
}

.lista-local {
    font-size: 18px;
    color: rgb(46, 84, 134);
}

.lista-descricao {
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px;
    color: #828282;
    font-weight: 300;
}

.wrapper-portfolio {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
}

.subtitulo-lista {
    font-size: 18px;
    color: #828282;
    font-weight: 500;
}

img {
    border-radius: 60%;
}

section {
    padding: 60px;
}

.footer {
    background-color: #724796;
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 20px;
    margin-top: 2px;
    margin-bottom: 0px;
    text-align: left;
    color: white;
    align-items: left;
}

.stile-icon {
    font-size: 28px;
    margin-left: 10px;
}

.links {
    text-decoration: none;
    color: #FFF;
}

.lista-footer li {
    color: #FFFF;
    font-weight: 300px;
    font-size: 14px;
} 